<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/mvc 
            			http://www.springframework.org/schema/mvc/spring-mvc.xsd
            			http://www.springframework.org/schema/aop 
            			http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 启用springmvc注解 -->
	<context:annotation-config/>
	<!-- spring 注解 -->
	<context:component-scan base-package="com.candy" />

	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- mybatis 配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="5" />
		<!-- 连接池最大使用连接数量 -->
		<property name="maxActive" value="900" />
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="20" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="5" />
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="8000" />
		<!-- removeAbandoned: 是否自动回收超时连接 -->
		<!--<property name="removeAbandoned" value="true" />-->
		<!--removeAbandonedTimeout: 超时时间(以秒数为单位)，针对活动的连接-->
		<!--<property name="removeAbandonedTimeout" value="420" />-->
		<!-- 是否在自动回收超时连接的时候打印连接的超时错误   -->
		<!--<property name="logAbandoned" value="true" />-->
		<!-- 1000 * 60 * 30 连接在池中保持空闲而不被空闲连接回收器线程 -->
		<property name="minEvictableIdleTimeMillis" value="1800000" />
		<!-- 一下可配置如果感觉影响性能则修改为定时检查连接是否可用 -->
		<!-- SQL查询,用来验证从连接池取出的连接,在将连接返回给调用者之前.如果指定,则查询必须是一个SQL SELECT并且必须返回至少一行记录 -->
		<property name="validationQuery" value="select 1" />
		<!-- 指明是否在从池中取出连接前进行检验,如果检验失败,则从池中去除连接并尝试取出另一个. -->
		<property name="testOnBorrow" value="true" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis.xml" />
		<property name="mapperLocations">
			<list>
				<value>classpath:com/candy/mapper/*Mapper.xml</value>
			</list>
		</property>
		<!--<property name="typeAliasesPackage" value="com.candy.model" />-->
		<!--<property name="plugins">-->
		<!--<array>-->
		<!--<bean class="com.github.pagehelper.PageHelper">-->
		<!--<property name="properties">-->
		<!--<value>-->
		<!--dialect=mysql-->
		<!--offsetAsPageNum=ture-->
		<!--reasonable=ture-->
		<!--supportMethodsArguments=true-->
		<!--returnPageInfo=check-->
		<!--</value>-->
		<!--</property>-->
		<!--</bean>-->
		<!--</array>-->
		<!--</property>-->
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.candy.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

	<!-- 配置事务 -->
	<bean id="txManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- 传播行为 -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
					 pointcut="execution(* com.candy.service.*.*(..))" />
	</aop:config>

	<!-- 拦截器 -->
	<!--<mvc:interceptors>-->
		<!--<bean class="com.candy.interceptor.DefaultInterceptor">-->
			<!--<property name="rootUrl">-->
				<!--<value>${rootUrl}</value>-->
			<!--</property>-->
		<!--</bean>-->
	<!--</mvc:interceptors>-->

    <!-- 避免出现乱码 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

	<!-- 开启aop，对类代理shiro一定配置 -->
	<aop:config proxy-target-class="true"></aop:config>
	<!--&lt;!&ndash; AOP式方法级权限检查 &ndash;&gt;-->

	 <!-- 后台处理数据为json返回前台 -->
   
   
	<!-- 页面类型 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!--&lt;!&ndash; 文件上传 &ndash;&gt;-->
	<!--<bean id="multipartResolver"-->
		<!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
		<!--<property name="defaultEncoding">-->
			<!--<value>UTF-8</value>-->
		<!--</property>-->
		<!--<property name="maxUploadSize">-->
			<!--<value>2097152000</value>&lt;!&ndash; 上传文件大小限制为2G &ndash;&gt;-->
		<!--</property>-->
		<!--<property name="maxInMemorySize">-->
			<!--<value>20971520</value>-->
		<!--</property>-->
	<!--</bean>-->
</beans>